.member {
	display: inline;
	margin-right: 4px;
}

.avatar {
	display: inline-block;
	position: relative;
}

.image {
	border-radius: 100%;
	display: block;
}

.statusOnline,
.statusIdle,
.statusDnd {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 10px;
	height: 10px;

	border-radius: 100%;
}

.statusOnline {
	background: rgb(35, 165, 90);
}

.statusIdle {
	background: rgb(240, 178, 50);
}

.statusDnd {
	background: rgb(242, 63, 67);
}
